# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\aldov\Desktop\Programación KINAL\Primer Curso\Fundamentos de Programación\Aplicaciones gráficas con Java - Módulo 5\Práctica\Aplicaciones gráficas con JAVA\Calculadora2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
